
{% extends "base.html" %}
{% load static%}
{% block style%}
  <style type="text/css">
  </style>
{% endblock style %}
{% block script %}
  <script type="text/javascript">
    $('.dropdown-toggle').dropdown()
  </script>
  <script type="application/javascript">
    $(".collapse").collapse()
  </script>
{% endblock script %}
{% block content %}
 <div class="container">
    <h3>Account Settings</h3>
    <hr />
    <div class="row">
      <div class="span3">
      <ul class="nav nav-pills nav-stacked actionsfeedmsg">
          <li class="active"><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </div>
      <div class="span9">
        <div class="row">
          <div class="span9">
            <h3 style="float:left;">Blocked Users</h3>
            <hr style="clear:left;" />
                <div style="height:400px; overflow:auto;">
                
                
                    <div class="row" style="margin-top:5px;">
                        <div class="span1"><img src="http://placehold.it/50x50&text=Icon"/></div>
                        <div class="span4"><h5 style="line-height:normal;">PSYC 101 - 0002</h5><p style="margin-bottom:0;">James Madison University</p></div>
                        <div class="span1" >
                            <button class="btn btn-info"  style="margin-top:10px; float:right;">Unblock</button>
                        </div>
                    </div> 
                    <div class="row" style="margin-top:5px;">
                        <div class="span1"><img src="http://placehold.it/50x50&text=Icon"/></div>
                        <div class="span4"><h5 style="line-height:normal;">Andrew Elgert</h5><p style="margin-bottom:0;">James Madison University</p><span class="label label-info" style="line-height:normal;">Friends</span></div>
                        <div class="span1" >
                              <button class="btn btn-info" style="margin-top:10px; float:right;">Unblock</button>
                        </div>
                    </div> 
                    <div class="row" style="margin-top:5px;">
                        <div class="span1"><img src="http://placehold.it/50x50&text=Icon"/></div>
                        <div class="span4"><h5 style="line-height:normal;">William C. Wood</h5><p style="margin-bottom:0;">James Madison University</p><span class="label label-success" style="line-height:normal;">Teachers</span></div>
                        <div class="span1" >
                            <button class="btn btn-info" style="margin-top:10px; float:right;">Unblock</button>
        
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="span1"><img src="http://placehold.it/50x50&text=Icon"/></div>
                        <div class="span4"><h5 style="line-height:normal;">Henry David Thoreau</h5><p style="margin-bottom:0;">Harvard University</p><span class="label" style="line-height:normal;">Authors</span></div>
                        <div class="span1" >
                            <button class="btn btn-info"  style="margin-top:10px; float:right;">Unblock</button>
        
                        </div>
                    </div> 
                    <div class="row" style="margin-top:5px;">
                        <div class="span1"><img src="http://placehold.it/50x50&text=Icon"/></div>
                        <div class="span4"><h5 style="line-height:normal;">Andrew Elgert</h5><p style="margin-bottom:0;">James Madison University</p><span class="label label-info" style="line-height:normal;">Friends</span></div>
                        <div class="span1" >
                              <button class="btn btn-info"  style="margin-top:10px; float:right;">Unblock</button>
                        </div>
                    </div> 
                    <div class="row" style="margin-top:5px;">
                        <div class="span1"><img src="http://placehold.it/50x50&text=Icon"/></div>
                        <div class="span4"><h5 style="line-height:normal;">William C. Wood</h5><p style="margin-bottom:0;">James Madison University</p><span class="label label-success" style="line-height:normal;">Teachers</span></div>
                        <div class="span1" >
                            <button class="btn btn-info"  style="margin-top:10px; float:right;">Unblock</button>
        
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="span1"><img src="http://placehold.it/50x50&text=Icon"/></div>
                        <div class="span4"><h5 style="line-height:normal;">Henry David Thoreau</h5><p style="margin-bottom:0;">Harvard University</p><span class="label" style="line-height:normal;">Authors</span></div>
                        <div class="span1" >
                            <button class="btn btn-info" style="margin-top:10px; float:right;">Unblock</button>
        
                        </div>
                    </div> 
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}