{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
    	<div class="span12">
        	<h4 style="margin-top:30px; margin-left:20px; color:#da4f49;"><i class="icon-cogs"></i> Settings</h4>
        	<hr style="margin-bottom:40px;" />
        </div>
    </div>
	<div class="row">
    	<div class="span12">
        	<div class="row">
            	<div class="span3">
                	<ul class="nav nav-tabs nav-stacked">
              		<li><a href="/settings/">Edit Profile</a></li>
              		<li class="active"><a href="/settings/security/">Edit Account</a></li>
            		</ul>
                </div>
                <div class="span9">
                	<p>You have changed your password.</p>
                    <p><a href="/">Back to home.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
