{% extends "base.html" %}
{% load static %}

{% block style %}
<style type="text/css">
	body {
		background: #3399CC;
		background: -moz-radial-gradient(center, ellipse cover, #3399CC 0%, #2e5673 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3399CC), color-stop(100%,#2e5673));
		background: -webkit-radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		background: -o-radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		background: -ms-radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		background: radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399CC', endColorstr='#2e5673',GradientType=1 );
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>
{% endblock style %}
{% block content %}
<div class="container">
    <div class="row">
    	<div class="span8 offset2" style="margin-top:40px;">
            <p class="lead" style="color:#FFF; text-align:center;">Your password has been set.  You may go ahead and log in now.</p>
        </div>
    </div>
  <div class="navbar navbar-fixed-bottom hidden-phone" style="z-index:5;">
    <div class="navbar-inner pull-center">
      <ul class="nav">
        <li><a href="/privacy/">Privacy Policy</a></li>
        <li class="divider-vertical"></li>
        <li><a href="mailto:staff@konkourse.com">General Inquiries</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/settings/password_reset/">Forgot Password?</a></li>
      </ul>
    </div><!-- /navbar-inner -->
  </div><!-- /bottom nav bar -->
</div>
{% endblock %}
