{% extends "base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}{% endblock %}
{% block style %}
<style type="text/css">
.form-horizontal .control-label {
	width:150px;
	}
.form-horizontal .controls {
	margin-left:170px;
	}
</style>
{% endblock style %}
{% block content %}
<div id="content-main">
<div class="container">
	<div class="row">
    	<div class="span12">
        	<h4 style="margin-top:30px; margin-left:20px; color:#da4f49;"><i class="icon-cogs"></i> Settings - Change Password</h4>
        	<hr style="margin-bottom:40px;" />
        </div>
    </div>
	<div class="row">
    	<div class="span12">
        	<div class="row">
            	<div class="span3">
                	<ul class="nav nav-tabs nav-stacked">
              		<li><a href="/settings/">Edit Profile</a></li>
              		<li class="active"><a href="/settings/security/">Edit Account</a></li>
            		</ul>
                </div>
                <div class="span9">
                    <form action="" method="post">{% csrf_token %}
                        <div>
                            {% if form.errors %}
                            <p class="errornote">
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                            </p>
                            {% endif %}
                			<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                            <fieldset class="form-horizontal">
                                <div class="control-group">
                                    {{ form.old_password.errors }}
                                    <label for="id_old_password" class="control-label">{% trans 'Old password' %}:</label>
                                    <div class="controls">
                                    	{{ form.old_password }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{ form.new_password1.errors }}
                                    <label for="id_new_password1" class="control-label">{% trans 'New password' %}:</label>
                                    <div class="controls">
                                    	{{ form.new_password1 }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{ form.new_password2.errors }}
                                    <label for="id_new_password2" class="control-label">{% trans 'Password (again)' %}:</label>
                                    <div class="controls">
                                    	{{ form.new_password2 }}
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <input type="submit" style="float:right;" value="{% trans 'Change my password' %}" class="btn" />
                            </div>
                            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                        </div>
                    </form>
				</div>
</div>

{% endblock %}
