{% extends "base.html" %}
{% block script %}
{% load static %}
{% endblock script %}
{% block style %}
<style type="text/css">
	body {
		background: #3399CC;
		background: -moz-radial-gradient(center, ellipse cover, #3399CC 0%, #2e5673 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#3399CC), color-stop(100%,#2e5673));
		background: -webkit-radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		background: -o-radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		background: -ms-radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		background: radial-gradient(center, ellipse cover, #3399CC 0%,#2e5673 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399CC', endColorstr='#2e5673',GradientType=1 );
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
</style>
{% endblock style %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
	<div class="row">
    	<div class="span12" style="margin-top:15px; margin-bottom:40px;">
        	<div class="row">
    	<div class="span5 offset1">
        	<h1 style="color:#FFF; margin-top:150px;">Check your inbox.</h1>
        	<p style="color:#FFF;"><strong>We just sent you an activation link.</strong></p>
        </div>
        <div class="span5">
        	<img src="{% static "img/logo.png" %}" style="" />
        </div>
    </div>
        </div>
    </div>
</div>
{% endblock content %}
