
{% extends "base.html" %}
{% load static%}
{% block content %}
{% load widget_tweaks %}
    <div class="container">
    	<div class="row">
            <div class="span12"><!-- course container -->
            	<div class="row">
                	<div class="span3">
                    	<!-- course dash -->
                    	<div class="well" id="toolBar" style="padding:8px 0; margin-top:0px; border-right: 1px solid #E3E3E3; border-bottom:none; border-top:none; border-left:none; -webkit-border-radius: 0px; -moz-border-radius:0px; border-radius:0px; position:fixed; height:100%; width:217px;">
                        	<h5 class="coursesHeader" style="display:inline-block">Courses</h5>
                            	<ul class="nav nav-list" style="padding-bottom:30px;">
                                	<li class="divider"></li>
                              		{% for c in courses %}
                              		{% ifequal c.id current_course.id %}
                                	<i class="icon-caret-right" style="float:left; margin-top:2.5px; margin-right:4px;"></i>
                                	{% endifequal %}
                                		<li style="font-size:12px; font-weight:500; text-transform:uppercase;"><a href="/course/{{ c.id }}/">{{ c.number }}</a></li>
                              		{% endfor %}
                                    <li class="divider"></li>
                                    <a href="#addCourse" data-toggle="modal" class="btn btn-small" style="width:163px;"><i class="icon-plus-sign" style=""></i> Add Course</a>
                                </ul>
                        </div>
                        <!-- /course dash -->
                    </div>
                  	<div class="span9">
                    	<div class="row">
                        	<div class="span9" style="background-color:#F6F6F8; margin-bottom:0px;">
                              <div style="min-width:698px; width:698px; height:150px; border-left:1px solid #E2E3E4; border-right:1px solid #E2E3E4; padding-top:15px;">
                            	<div style="float:left; margin-left:20px;"> <!-- photo -->
                                    {% if image %}
                                    <img src="{{image.url}}" style="width:100px;" class="img-polaroid img-rounded"/>
                                    {% else %}
                                    <img src="{% static "img/course.png" %}" class="img-polaroid img-rounded"/>
                                    {% endif %}
                                </div>
                                <div style="float:left; width:420px; max-width:420px;">
                                    <p class="lead" style="font-size:24px; margin-bottom:0px; margin-left:15px; text-transform:uppercase;">{{ course_number }}</p>
                                    <p class="lead" style="font-size:18px; margin-bottom:5px; margin-left:15px;">{{ course_name }}</p>
                                    <p style="margin-left:15px; width: 420px; word-wrap: break-word;">Taught by {{ professor }}</p>
                                    <p  id="viewdetails" style="margin-left:15px; height:30px; width: 420px; word-wrap: break-word; ">{{ description }}<p>
                                </div>
                                <div style="float:right; margin-right:20px; width:120px;">
                                	{% if institution %}<p style="text-align:center;"><a href="#">{{ institution.title }}</a></p>{% endif %}
                                	<img src="{{institution.image.url}}" style="max-width:70px; margin-left:auto; margin-right:auto; display:block;" class="img-rounded"/>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row"> <!-- navigation -->
                                    <div class="span9">
                                        <div class="navbar">
                                          <div class="navbar-inner" style="padding-left:0; padding-right:0; border-radius:0px 0px 3px 3px; webkit-border-radius:0px 0px 3px 3px; moz-border-radius:0px 0px 3px 3px;">
                                            <ul class="nav">
                                              <li id="convo"><a href="/course/{{ course_id }}">Conversation</a></li>
                                              <li id="info"><a href="/course/{{ course_id }}/info">Info</a></li>
                                              <li id="docs"><a href="/course/{{ course_id }}/documents">Docs</a></li>
                                              <li id="events"><a href="/course/{{ course_id }}/events">Events</a></li>
                                              <li id="members"><a href="/course/{{ course_id }}/members">Members</a></li>
                                            </ul>
                                            <ul class="nav pull-right">
                                            <li class="divider-vertical"></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-cog"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/course/{{course_id}}/leave">Leave Course</a></li>
                                                </ul>
                                            </li>
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                				</div>
                        <div class="row">
                        {% block course_content %}
            			{% endblock course_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div id="addCourse" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addCourseLabel" aria-hidden="true">
  <form enctype="multipart/form-data" class="form-horizontal" method="post" action="/course/create/">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="addCourseLabel">Add one of your courses</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label" for="id_course_number">Course Number</label>
        <div class="controls">
        {{course_form.course_number|attr:"autocomplete:off"|add_class:"addCourseAttr"}}
        <span class="help-block">Example: BIO201</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_course_id">Section Number</label>
        <div class="controls">
        {{course_form.course_id|attr:"autocomplete:off"|attr:"data-mask:9999"|add_class:"addCourseAttr"}}
        <span class="help-block">Example: 1000</span>
        </div>
      </div>             
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-inverse">Complete</button>
    </div>
  </form>
</div>
    <script>
$(function(){
	$(".coursedesExp").click(function(){
	var val = $(this).text();
	if (val == "More") {
    	$(".courseDescriptionExp").css('height', 'auto');
    	$(this).text("Less");
	} else {
    	$(".courseDescriptionExp").css('height', '80');
    	$(this).text("More");
	}
	return false;
});
});
$(function(){
	$(".evntdesExp").click(function(){
	var val = $(this).text();
	if (val == "More") {
    	$(".eventDescriptionExp").css('height', 'auto');
    	$(this).text("Less");
	} else {
    	$(".eventDescriptionExp").css('height', '20');
    	$(this).text("More");
	}
	return false;
});
});
</script>
{% endblock content %}
