{% extends "base.html" %}
{% load static%}
{% block style%}
{% endblock style %}
{% block script %}
{% endblock script %}
{% block content %}
<div class="container">  
	<div class="row">
    	<div class="span9">
        	<h4 style="float:left; margin-top:30px; margin-left:20px;"><i class="icon-envelope-alt"></i> <span style="color:#da4f49;">Messages</span> <i class="icon-caret-right" style="font-size:18px;"></i> with <a href="#" style="color:#000;">Evan Botello</a></h4>
           	<hr style="clear:both;" />
        </div>
    </div>
        	<div class="row">
      	  		<div class="span9">
                    <div class="row">
                    	<div class="span9">
                        	<table class="table" style="background-color:#f5f5f5; margin-bottom:3px;">
                                <tr>
                                    <th class="span9">
                                      <button class="btn"><i class="icon-arrow-left"></i> Return to All</button>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!--begin message-->
                    <div class="row">
            			<div class="span9" >
                        	<div class="row">
                            	<div class="span9" style="border-bottom: 3px solid #DDD;">
                        			<img src="{% static "http://placehold.it/50x50" %}" style="float:left; margin-left:6px; margin-top:3px; margin-bottom:3px;" />
                                    <div class="" style="float:left;">
                                    <h4 style="margin: 2px 0px 2px 5px;"><a href="" style="color:#000;">Evan Botello</a></h4>
                                    <p style="margin: 0px 0px 0px 5px; font-size:12.5px;">James Madison University</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="span9" style="height:400px; overflow-y:auto; overflow-x:hidden;">
                            <table style="width:100%;">
                            	<tr>
                                	<td>
                                    	<hr />
                                    </td>
                                    <td style="width:55px; text-align:center;">
                                    	<p style="margin-top:9px; color:#999; font-size:12.5px;">May 05</p>
                                    </td>
                                    <td>
                                    	<hr />
                                    </td>
                                </tr>
                            </table>
                            <div class="row">
                            	<div class="span9">
                                	<table>
                                        <tr>
                                            <td style="min-width:55px; margin:0; padding:0; vertical-align:top;">
                                                <img src="{% static "img/prof.png" %}" style="margin-right:5px; float:left;"/>
                                            </td>
                                            <td style="margin:0; padding:0; vertical-align:top;">
                                                <p style="margin: 1px 0 0px;"><a href="#">Evan Botello</a></p>
                                                <p style="margin:0px 0px 0px 0px;">Now is the accepted time to make your regular annual good resolutions. Next week you can begin paving hell with them as usual. Yesterday, everybody smoked his last cigar, took his last drink, and swore his last oath. Today, we are a pious and exemplary community. Thirty days from now, we shall have cast our reformation to the winds and gone to cutting our ancient shortcomings considerably shorter than ever. We shall also reflect pleasantly upon how we did the same old thing last year about this time. However, go in, community. New Year's is a harmless annual institution, of no particular use to anybody save as a scapegoat for promiscuous drunks, and friendly calls, and humbug resolutions, and we wish you to enjoy it with a looseness suited to the greatness of the occasion.</p>
                                            </td>
                                            <td style="width:100px; vertical-align:top;">
                                            	<p style="text-align:center; color:#999;">3:07 pm</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                            	<div class="span9">
                                	<table>
                                        <tr>
                                            <td style="min-width:55px; margin:0; padding:0; vertical-align:top;">
                                                <img src="{% static "http://placehold.it/50x50" %}" style="margin-right:5px; float:left;"/>
                                            </td>
                                            <td style="margin:0; padding:0; vertical-align:top;">
                                                <p style="margin: 1px 0 0px;"><a href="#">Mohammed Davoodi</a></p>
                                                <p style="margin:0px 0px 0px 0px;">The building up of good taste … is difficult, slow work. Few achieve it. It means all the difference in the world in the end.</p>
                                            </td>
                                            <td style="width:100px; vertical-align:top;">
                                            	<p style="text-align:center; color:#999;">3:10 pm</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <table style="width:100%;">
                            	<tr>
                                	<td>
                                    	<hr />
                                    </td>
                                    <td style="width:55px; text-align:center;">
                                    	<p style="margin-top:9px; color:#999; font-size:12.5px;">May 06</p>
                                    </td>
                                    <td>
                                    	<hr />
                                    </td>
                                </tr>
                            </table>
                            <div class="row">
                            	<div class="span9">
                                	<table>
                                        <tr>
                                            <td style="min-width:55px; margin:0; padding:0; vertical-align:top;">
                                                <img src="{% static "http://placehold.it/50x50" %}" style="margin-right:5px; float:left;"/>
                                            </td>
                                            <td style="margin:0; padding:0; vertical-align:top;">
                                                <p style="margin: 1px 0 0px;"><a href="#">Mohammed Davoodi</a></p>
                                                <p style="margin:0px 0px 0px 0px;">A page of Addison or of Irving will teach more of style than a whole manual of rules, whilst a story of Poe's will impress upon the mind a more vivid notion of powerful and correct description and narration than will ten dry chapters of a bulky textbook.</p>
                                            </td>
                                            <td style="width:100px; vertical-align:top;">
                                            	<p style="text-align:center; color:#999;">9:09 am</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                            <div class="row">
                            	<div class="span9">
                                	<div class="form-actions" style="background-color:#EDEFF4;">
                                    	<textarea rows="3" style="width:98%;" placeholder="Send a message..."></textarea>
                                        <button class="btn btn-primary" style="float:right;">Send</button>
                            		</div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end message-->
            	</div>        	
          	</div>
</div>
{% for message in messages reversed %}           
        
{% endfor %}
{% endblock content %}